<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Css/knock_style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/knockout-3.1.0.js"></script>
  
    <style>
        ul li {
            list-style-type: none;
            display: inline;
        }
    </style>
 </head>
<body style="margin-left:100px;margin-right:100px">    
    <ul>      
        <li>
            @Html.ActionLink(  "Home", "Index", "Home")
        </li>
        <li>
            @Html.ActionLink("Thoughts", "Knockout1", "Home")
        </li>
        <li>
            @Html.ActionLink("Card Shuffle", "ShuffleCards", "Home")
        </li>
        <li>
            @Html.ActionLink("To Do", "Angular1", "Home")
        </li>
        <li>
            @Html.ActionLink("Bach Flowers", "Knockout3", "Home")
        </li>
    </ul>
    <hr>
    @RenderBody()  
</body>
</html>
